.menu {
  //margin-bottom: 30px;
  background-color: transparent;
  display: flex;
}

.rowSp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #55a34e;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.item {
  color: #fff;
  font-size: 18px;
  padding: 0 40px;
}

.item:hover {
  color: #e5e59e !important;
}
