.left {
  width: 100%;
}

.dp {
  //margin-bottom: 20px;
  width: 100%;
  background-color: #55a34e;
  color: #fff;
  height: 50px;
}

.body {
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.right {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-bottom: 20px;
}

.chart {
  //margin-top: 50px;
  width: 500px;
  height: 500px;
}

.bt {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.btop {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 400px;
}

.doodle {
  //margin: 0;
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #55a34e;

}

.spin {
  color: #fff;
}

.ant-slider-track {
  height: 10px;
  background-color: #55a34e;
}

